body {
    background-color: #292929;
    color: #c3c3c3;
    font-family: 'Open Sans', sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
    padding-top: 30px;
}

h1 {
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
}

.datacredit {
    font-size: 9px;
}

a {
    color: #c3c3c3;
}

a:visited {
    color: #b4b4b4;
}

.clear-daybody {
    background-color: #173d69;
}

.clear-nightbody {
    background-color: #2b1455;
}

.rainbody {
    background-color: #132057;
}

.snowbody .sleetbody .windbody .fog .cloudy {
    background-color: #3c3c3c;
}

.partly-cloudy-daybody {
    background-color: #4f5238;
}

.partly-cloudy-nightbody {
    background-color: #2c2636;
}

.current {
    padding-left: 150px;
    padding-top: 0px;
    margin-bottom: 70px;
    margin-top: -160px;
    position: relative;
}

#icon {
    position: relative;
    width: 100px;
    padding-top: 40px;
}

.weekahead {
    margin-top: 100px;
    position: relative;
}